<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDq8NqNl-Uu9IeinnNcqtZA1Bjjr4z3oFs</string>
	<key>GCM_SENDER_ID</key>
	<string>148030468037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newGujaratiNews</string>
	<key>PROJECT_ID</key>
	<string>new-gujarati-news</string>
	<key>STORAGE_BUCKET</key>
	<string>new-gujarati-news.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148030468037:ios:79bda9c320af01044a65ac</string>
</dict>
</plist>